/* .wrapper {
    width: 10000px;
    height: 10000px;
    background-image: url(/assets/images/ommagga3\ png.png);
    background-color: rgb(139, 217, 217)161, 217, 217);
    background-size: contain;
}


.wrapper img {
    position: absolute;
    opacity: 0.7;
}

.wrapper img:nth-child(1) {
    z-index: -1;
    width: 700px;
    left: 6000px;
    top: 4000px;
}

.wrapper img:nth-child(2) {
    z-index: -1;
    width: 1000px;
    left: 200px;
    top: 4000px;
} */









/* .wrapper {
    width: 15000px;
    height: 15000px;
    background-image: url(/assets/images/ommagga3\ png.png); 
    background-color: rgb(139, 217, 217)161, 217, 217); 
    background-size: contain;
}

.wrapper img {
    position: absolute;
    opacity: 0.8;
    transition: transform 0.5s ease;

}

.wrapper img:nth-child(1) {
    z-index: 1;
    width: 700px;
    left: 6000px;
    top: 4000px;
}

.wrapper img:nth-child(2) {
    border: 0, 75ch;
    border-color: black;
    z-index: 1;
    width: 1000px;
    left: 200px;
    top: 4000px;
}


.wrapper img:nth-child(3) {
    z-index: 1;
    width: 1000px;
    left: 900px;
    top: 7000px;
}

.zoom-in {
    transform: scale(1.2);

}

.zoom-out {
    transform: scale(0.8);
  
} */



body {
    cursor: url(/assets/images/frogs.png), auto;

}

audio {
    width: 300px;
    height: 54px;
}


.wrapper {
    width: 7000px;
    height: 4600px;
    /* background-image: url(/assets/images/ommagga3.jpg); */
    /* background-color: rgb(139, 217, 217)161, 217, 217); */
    background-size: contain;
    transform: scale(0.3);

}

.wrapper img {
    position: absolute;
    opacity: 0.8;
    transition: transform 0.5s ease;
}


/* 
.background-color: brown; */

.wrapper:hover {
    color: rgb(179, 40, 40);
    cursor: url(/assets/images/frogs.png), auto;
}



/* magaz yildiz */
.wrapper img:nth-child(1) {
    z-index: 2;
    width: 200px;
    left: 4500px;
    top: 3800px;

}

/* pixelli goz */
.wrapper img:nth-child(2) {
    border: 1 ch;
    z-index: 1;
    width: 40;
    left: 3400px;
    top: 1100px;
    /* position: sticky !important; */

}


/* (tirtikli goz) */
.wrapper img:nth-child(3) {
    z-index: 1;
    width: 580px;
    left: 3900px;
    top: 1100px;
    border: dashed;
    /* position: sticky !important; */
}

/* yuvarlak */
.wrapper img:nth-child(4) {
    z-index: -2;
    width: 1450px;
    left: 3500px;
    top: 2150px;
}

/* bg1 */
.wrapper img:nth-child(5) {
    z-index: 1;
    width: 750px;
    left: 3050px;
    top: 2000px;
}

/* bg3 */
.wrapper img:nth-child(6) {
    z-index: 1;
    width: 650px;
    left: 3860px;
    top: 2950px;
}

/* bg4 */
.wrapper img:nth-child(7) {
    z-index: 1;
    width: 700px;
    left: 3260px;
    top: 3300px;
}


/* ommaga bg */
.wrapper img:nth-child(8) {
    z-index: -1;
    width: 2350px;
    left: 4000px;
    top: 900px;
}

/* bg5 soyut */
.wrapper img:nth-child(9) {
    z-index: -1;
    width: 1350px;
    left: 711px;
    top: -500px;
    position: sticky !important;

}

/* bg6  */
.wrapper img:nth-child(10) {
    z-index: 1;
    width: 1650px;
    left: 3900px;
    top: 900px;
}

/* omaga 2 kucuk*/
.wrapper img:nth-child(11) {
    z-index: 1;
    width: 660px;
    left: 6500px;
    top: 1000px;
}

/* bg7 atka plan siyah odun */
.wrapper img:nth-child(12) {
    z-index: 1;
    width: 2800px;
    left: 8300px;
    top: 1000px;
}


/* omaga 3 kucuk*/
.wrapper img:nth-child(13) {
    z-index: 1;
    width: 660px;
    left: 6500px;
    top: 2000px;
}

/* omaga 5 kucuk*/
.wrapper img:nth-child(14) {
    z-index: 1;
    width: 660px;
    left: 6500px;
    top: 3000px;
}

/* bg5 soyut2 */
.wrapper img:nth-child(15) {
    z-index: 1;
    width: 1750px;
    left: 8600px;
    top: 1000px;
}

/* bg8  top1 */
.wrapper img:nth-child(16) {
    z-index: 1;
    width: 300px;
    left: 7190px;
    top: 3600px;
}

/* bg8  top2 */
.wrapper img:nth-child(17) {
    z-index: 1;
    width: 300px;
    left: 7180px;
    top: 2600px;
}

/* bg8  top3 */
.wrapper img:nth-child(18) {
    z-index: 1;
    width: 300px;
    left: 7180px;
    top: 1600px;
}

/* bg8 soyut top4 gozun yani */
.wrapper img:nth-child(19) {
    z-index: 1;
    width: 200px;
    left: 3200px;
    top: 1200px;
}





.zoom-in {
    transform: scale(1.2);
}

.zoom-out {
    transform: scale(0.8);
    /* You can adjust the scale factor for zooming out */
}